img {
    height: 250px;
}







/* CSS added by Fredrik begin: */

.seeMoreLink {
    margin-bottom:20px;
    display:block;
}
.seeMoreLink:after {

    content: " \22B3";
}



/* CSS added by Fredrik end */