Beer team/img/beer_info.html
Beer team/img/beer_info.js
Beer team/img/Namnlös.jpg
Beer team/img/Project-1
Beer team/img/README.md
Beer team/img/search.html
Beer team/img/search.js
Beer1/Home/index.html
Beer1/Home/index.js
Beer1/Search/index.html
Beer1/beer/beerPage,js
Beer1/beer/index.html
