form{
    display: flex;
    justify-content: center;
   height: 40px;
}

input[type=text]:focus, input[type=text] {
    text-align: center;
    border-radius: 10em;
  }

  input[type=text]:focus{
    background-color: #B0E0E6;
  }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #00BFFF;
    border: none;
    color: white;
    border-radius: 10em;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }