body,
html {
    height: 100%;
    margin: 0;
}

.contents {
    display: contents;
}

#randomName {
    height: 500px;
    width: 400px;
}

#randomLabel {
    height: 60%;
    width: auto;
}

.infoContainer {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

.sokResult {
    color: rgb(115, 115, 115);
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 24px 0px 8px;
}

.innerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgBox {
    /*height: 300px;
    width: 500px;*/
}

.nameBox {
    background-color: #f4efe8;
}

.infoBox {
    background-color: #cfad99;
}

.buyContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.buy {
    background-color: #5f7264;
    width: auto;
}

.boxContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.moreInfoBox {
    display: flex;
    flex-direction: column;
}

.beer-basic-info {
    font-size: 16px;
    font-weight: bold;
}