body,html {height: 100%;margin: 0;}

#container1 {
    height: 500px;
    width: 400px;
}

#random {
    height: 60%;
    width: auto;
}

.grid1 {
    display: grid;
    grid-template-areas:
        "a" 
        "b";
}

.grid-a {
    grid-area: a;
}

.grid-b {
    grid-area: b
}
