    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: sans-serif;
    }
    
    nav {
        background: rgb(75, 57, 57);
        width: 100%;
        position: fixed;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    
    nav .mainMenu {
        display: flex;
        list-style: none;
    }
    
    nav .mainMenu li a {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.5rem;
    }
    
    nav .mainMenu li a:hover {
        background: #9e6868;
    }
    
    nav .openMenu {
        font-size: 2rem;
        margin: 20px;
        display: none;
        cursor: pointer;
    }
    
    nav .mainMenu .closeMenu,
    .icons i {
        font-size: 2rem;
        display: none;
        cursor: pointer;
    }
    
    nav .logo {
        margin: 6px;
        font-size: 25px;
        cursor: pointer;
    }
    
    main {
        background-color: rgb(179, 129, 129);
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    
    section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        text-align: center;
    }
    
    img {
        height: 250px;
    }
    /* CSS added by Fredrik begin: */
    
    .seeMoreLink {
        margin-bottom: 20px;
        display: block;
    }
    
    .seeMoreLink:after {
        content: " \22B3";
    }
    
    .testblock {
        width: 90%;
        min-height: 90%;
        display: inline-block;
        width: 90%;
        min-height: 90%;
        background-color: rgba(0, 0, 255, 0.5);
        margin: 0;
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;
    }
    
    .testblock2 {
        width: 100%;
        max-width: 550px;
        min-width: 400px;
        min-height: 90%;
        display: inline-block;
        box-sizing: border-box;
        background-color: rgba(0, 0, 255, 0.5);
        margin: 5px;
    }

    /* CSS added by Cengiz */
    #button {
        display: block;
        background: #444;
        padding: 12px 17px;
        border: none;
        cursor: pointer;
        color: white;
        border-radius: 7px;
        outline: none;
    } 
    #button:hover {
        background: #333;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 45%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        background: white;
        border-radius: 7px;
      }

      .card ul {
          list-style: none;
      }
      .card ul li {
          margin: 5px 0;
      }
      
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      .card-container {
        padding: 2px 16px;
      }

    .seeMoreLink {
        text-decoration: none;
        padding: 7px 10px;
        background: white;
        color: #444;
        margin: 11px 0 17px 0;
        display: inline-block;
    }
    .seeMoreLink:hover,
    .seeMoreLink:focus {
        box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
        transform: translateY(-0.25em);
    }


    #indexSearchSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        text-align: center;
    }

    .main {
        display: block;
    }

    /* END CSS added by Cengiz */

    /* CSS added by Fredrik end */
    
    @media(max-width: 800px) {
        nav .mainMenu {
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgb(75, 57, 57);
            transition: top 1s ease;
            display: none;
        }
        nav .mainMenu .closeMenu {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        nav .openMenu {
            display: block;
        }
        nav .mainMenu li a:hover {
            background: none;
            color: #9e6868;
            font-size: 1.6rem;
        }
        .icons {
            display: inline-block;
            padding: 12px;
        }
    }